.tile {
  flex: 1;
  min-height: 100px;

  background: #fff;
  border-radius: 2px;
  margin: 1rem;
  position: relative;
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
}

.row-item {
  margin: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

span {
  flex: 1;
  text-align: center;
}

.row-title {
  font-weight: 700;
}

.row-value {
  font-size: 1.4rem;
}

