<div class="row">
    <div class="tile">
        <h3>Number of all employees</h3>
        <h1>32443</h1>
    </div>
</div>


<div class="row">
    <div class="tile">
        <h3>Number of employees by country</h3>
        <div class="row-item">
            <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
        </div>
        <div>
            <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
        </div>

        <div class="row-item">
            <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
        </div>
        <div>
            <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
        </div>
    </div>
    <div class="tile">
        <h3>Number of employees by tag</h3>
        <div>
            <span matBadge="4" matBadgeOverlap="false" matBadgeColor="accent">Text with a badge</span>
        </div>
    </div>
</div>
