<div class="page-container">
    <div class="create-form">
        <h1 *ngIf="employeeId">Edit employee: {{employeeId}}</h1>
        <h1 *ngIf="!employeeId">Create new employee</h1>
        <form [formGroup]="reactiveForm" (ngSubmit)="submit()">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Employee name</mat-label>
                    <input matInput formControlName="name" required appMatInputAutofocus>
                    <mat-error *ngIf="hasError('name')" class="alert alert-danger">
                        {{ getErrorMessage('name') }}
                    </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Date of birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="hasError('dob')" class="alert alert-danger">
                        {{ getErrorMessage('dob') }}
                    </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput type="tel" formControlName="phone" required>
                    <mat-error *ngIf="hasError('phone')" class="alert alert-danger">
                        {{ getErrorMessage('phone') }}
                    </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Office</mat-label>
                    <mat-select formControlName="officeId" required>
                        <mat-option *ngFor="let office of offices" [value]="office.id">
                            {{office.title}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('officeId')" class="alert alert-danger">
                        {{ getErrorMessage('officeId') }}
                    </mat-error>
                </mat-form-field>
            </p>
            <div class="buttons">
                <button mat-raised-button (click)="goBack()" type="button">Return to list</button>
                <button mat-raised-button color="primary" class="save" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

<app-employee-tag *ngIf="employeeId" [employeeId]="employeeId"></app-employee-tag>

