<div class="filter-container">
    <mat-accordion>
        <mat-expansion-panel>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    Filter
                </mat-panel-title>
            </mat-expansion-panel-header>

            <form [formGroup]="reactiveForm" novalidate>
                <mat-form-field>
                    <mat-label>General filter</mat-label>
                    <input matInput formControlName="general">
                </mat-form-field>
            </form>
        </mat-expansion-panel>
    </mat-accordion>
</div>

